image:
  repository: ghcr.io/jenkins-x/jx-build-controller
  tag: 0.3.14
serviceaccount:
  customName: jenkins-x-controllerbuild
internalPort: 8080
log:
  # the service name for logigng
  service: ""
  # level such as debug, info, warn
  level: "info"
  # json or stackdriver are the common values
  format: "json"
  # lets you skip stack frames in logs
  stackSkip: ""
probe:
  readypath: "/readyz"
  livepath: "/healthz"
resources:
  # resources.limits -- Resource limits applied to the controller pods
  limits:
    cpu: 100m
    memory: 512Mi
  # resources.requests -- Resource requests applied to the controller pods
  requests:
    cpu: 80m
    memory: 128Mi
restartPolicy: Always
command:
  - jx-build-controller
args: []
env:
  GIT_AUTHOR_NAME: "jenkins-x-bot"
  GIT_AUTHOR_EMAIL: "jenkins-x@googlegroups.com"
  XDG_CONFIG_HOME: "/tmp/git-creds"
# define environment variables that will be stored in a secret namd 'jx-build-controller-env' and populated as env vars on the deployment
#
# example
#
# envSecrets:
#   AWS_ACCESS_KEY_ID: xxx
#   AWS_SECRET_ACCESS_KEY: yyy
#   AWS_CA_BUNDLE: /config/ca-certificates.crt (when using a private s3 compatible repo with self signed cert)
#
envSecrets: {}
clusterrole:
  enabled: true
  rules:
    - apiGroups:
        - ""
      resources:
        - pods
        - pods/log
        - secrets
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - ""
      resources:
        - namespaces
      verbs:
        - get
        - list
    - apiGroups:
        - tekton.dev
      resources:
        - pipelines
        - pipelineruns
        - tasks
        - taskruns
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - apps
      resources:
        - deployments
      verbs:
        - get
        - list
        - watch
role:
  enabled: true
  rules:
    - apiGroups:
        - jenkins.io
      resources:
        - pipelineactivities
        - sourcerepositories
      verbs:
        - list
        - get
        - watch
        - create
        - update
        - patch
    - apiGroups:
        - jenkins.io
      resources:
        - environments
        - plugins
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - ""
      resources:
        - pods
        - pods/log
        - secrets
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - tekton.dev
      resources:
        - pipelines
        - pipelineruns
        - tasks
        - taskruns
      verbs:
        - get
        - list
        - watch
extraVolumes: []
#  - name: config
#    configMap:
#      name: minio-certificate

extraVolumeMounts: []
#  - name: config
#    mountPath: /config
#    readOnly: true
